# MySQL
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=hrms_db1
MYSQL_USER=hrms_user
MYSQL_PASSWORD=your_database_password

# Email
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password

# JWT
JWT_SECRET=your_jwt_secret

# Frontend
FRONTEND_URL=http://localhost:3000